<!DOCTYPE html>
<html lang="zh-hant-TW">

<head>
    <%- include("./parts/head.ejs") %>
    <style>
        .title {
            text-align: center;
            margin: 50px 0;
            font-size: 2.5rem;
        }

        .table {
            border: 2px solid gray;
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 50px;

            th {
                border: 1px solid gray;
                padding: 10px;
            }

            td {
                padding: 10px;
                border: 1px solid gray;
            }
        }

        .page {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            ul {
                display: flex;
                list-style: none;

                li {
                    padding: 10px;
                    border: 1px solid gray;
                    margin: 0 5px;

                    a {
                        text-decoration: none;
                        color: black;
                        font-weight: bold;
                    }

                    &.active {
                        background-color: rgb(39, 38, 35);

                        a {
                            color: #FFF;
                        }
                    }
                }
            }

            .search {
                display: flex;

            }

            .btn {
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                background-color: rgb(39, 38, 35);
                color: #FFF;
                font-size: 1.2rem;
                padding: 0 10px;
                cursor: pointer;
            }
        }



        h {
            background-color: yellow;
        }
    </style>
</head>

<body>
    <%- include("./parts/navbar.ejs") %>
    <div class="container">
        <h1 class="title">會員資料</h1>

        <nav class="page">
            <form class="search">
                <input type="search" name="keyword" value="<%= keyword %>">
                <button class="btn" type="submit">搜尋</button>
            </form>

            <a class="btn" href="/user/add">新增會員</a>

            <ul>
                <li>
                    <a href="?page=<%= page-1 %>">
                        <span>&laquo;</span>
                    </a>
                </li>
                <% for(let i=page-3; i<=page+3; i++){
                    if(i >= 1 && i <= totalPages){ %>
                <li class="<%= i==page? "active" : "" %>">
                    <a href="?page=<%= i %>">
                        <%= i %>
                    </a>
                </li>
                <% } }%>
                <li>
                    <a href="?page=<%= page+1 %>">
                        <span>&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">姓名</th>
                    <th scope="col">信箱</th>
                    <th scope="col">手機</th>
                    <th scope="col">生日</th>
                    <th scope="col">地址</th>
                </tr>
            </thead>
            <tbody>
                <% rows.forEach((row)=>{ %>
                <tr>
                    <td><%= row.ab_id %></td>
                    <td><%- keyword ? row.name.split(keyword).join(`<h>${keyword}</h>`) : row.name %></td>
                    <td><%= row.email %></td>
                    <td><%- keyword ? row.mobile.split(keyword).join(`<h>${keyword}</h>`) : row.mobile %></td>
                    <td><%= row.birthday %></td>
                    <td><%= row.address %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

    <script>

    </script>
</body>

</html>